.input-form {
  .input-text {
    text-align: left;
    color: yellow;
    background-color: black;
    border-color: yellow;

    &:read-write {
      text-align: left;
      color: yellow;
      background-color: black;
      border-color: yellow;
    }

    &:focus {
      border-color: yellow;
    }

    &:focus-within {
      box-shadow: 0 0 0 0.1rem yellow;
    }

    &::placeholder {
      color: yellow;
    }
  }

  .add-button {
    width: 100%;

    &:hover {
      background-color: yellow;
    }

    &:active {
      background-color: green;
      box-shadow: none;
    }
  }

  background-color: black;
  padding: 10%;
  color: black;

  .update-info {
    width: 100%;
    color: black;
    background-color: green;
    border: 0;

    &:hover {
      width: 100%;
      color: black;
      background-color: greenyellow;
      border: 0;
    }

    &:focus-within {
      width: 100%;
      color: black;
      background-color: greenyellow;
      border: 0;
    }
  }

  .form-group {
    margin: 60px 0px;

    .update-info.btn-primary {
      &:active {
        width: 100%;
        color: black;
        background-color: greenyellow;
        border: 0;
      }
    }
  }
}
